## Preprocessing

In [50]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
df = pd.read_csv("../Resources/charity_data.csv")
df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [51]:
# df.describe()
# df['AFFILIATION'].nunique()

In [52]:
# # importing sweetviz
# import sweetviz as sv

# #analyzing the dataset
# charity_report = sv.analyze(df)
# #display the report
# charity_report.show_html('Charity.html')

In [53]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = df.drop("EIN", 1)
df = df.drop("NAME", 1)
df = df.drop("SPECIAL_CONSIDERATIONS",1)
df = df.drop("STATUS",1)

/var/folders/08/k5qj0k9j1dbgppb_7vzc5rnm0000gn/T/ipykernel_6070/372149252.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop("EIN", 1)
/var/folders/08/k5qj0k9j1dbgppb_7vzc5rnm0000gn/T/ipykernel_6070/372149252.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop("NAME", 1)
/var/folders/08/k5qj0k9j1dbgppb_7vzc5rnm0000gn/T/ipykernel_6070/372149252.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop("SPECIAL_CONSIDERATIONS",1)
/var/folders/08/k5qj0k9j1dbgppb_7vzc5rnm0000gn/T/ipykernel_6070/372149252.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop("STATUS",1)

In [54]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [55]:
# Look at APPLICATION_TYPE value counts for binning
df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [56]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Replace in dataframe

application_types_to_replace = ["T9","T13","T12","T2","T25","T14","T29","T15","T17"]

for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [57]:
# # Look at CLASSIFICATION value counts for binning
# classifications_val = df['CLASSIFICATION'].value_counts().values
# classifications_ind = df['CLASSIFICATION'].value_counts().index

In [58]:
# print(classifications_val)

In [59]:
# classifications_val[1]

In [60]:
# print(classifications_ind)

In [61]:
# len(classifications_ind)

In [62]:
# classification = []

# for i in range(0,71):
#         if classifications_val[i] < 1000:
#             k = classifications_ind[i]
#             classification.append(k)

In [63]:
# len(classification)

In [64]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

In [65]:
df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,36500179,0

In [66]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# len = len(classifications_val)

# classifications_val = df['CLASSIFICATION'].value_counts().values
# classifications_ind = df['CLASSIFICATION'].value_counts().index

# classifications_to_replace = []

# for i in range(0,71):
#         if classifications_val[i] < 1000:
#             k = classifications_ind[i]
#             classification.append(k)

# classifications_to_replace = classifications[(classifications < 1000)].index

class_df = df['CLASSIFICATION'].value_counts()

classifications_to_replace = class_df[(class_df < 100)].index

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [67]:
import numpy as np
df['ASK_AMT'] = np.log10(df['ASK_AMT'])

In [68]:
df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,3.698970,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,5.035790,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,3.698970,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,3.825556,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,5.154089,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,3.698970,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,3.698970,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,3.698970,0
34297,T5,Independent,C3000,ProductDev,Association,0,3.698970,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,7.562295,0

In [69]:
# Convert categorical data to numeric with `pd.get_dummies`
df = pd.get_dummies(df,drop_first = True)

In [70]:
list(df)

['ASK_AMT',
 'IS_SUCCESSFUL',
 'APPLICATION_TYPE_T10',
 'APPLICATION_TYPE_T19',
 'APPLICATION_TYPE_T3',
 'APPLICATION_TYPE_T4',
 'APPLICATION_TYPE_T5',
 'APPLICATION_TYPE_T6',
 'APPLICATION_TYPE_T7',
 'APPLICATION_TYPE_T8',
 'AFFILIATION_Family/Parent',
 'AFFILIATION_Independent',
 'AFFILIATION_National',
 'AFFILIATION_Other',
 'AFFILIATION_Regional',
 'CLASSIFICATION_C1200',
 'CLASSIFICATION_C1270',
 'CLASSIFICATION_C1700',
 'CLASSIFICATION_C2000',
 'CLASSIFICATION_C2100',
 'CLASSIFICATION_C2700',
 'CLASSIFICATION_C3000',
 'CLASSIFICATION_C4000',
 'CLASSIFICATION_C5000',
 'CLASSIFICATION_C7000',
 'CLASSIFICATION_Other',
 'USE_CASE_Heathcare',
 'USE_CASE_Other',
 'USE_CASE_Preservation',
 'USE_CASE_ProductDev',
 'ORGANIZATION_Co-operative',
 'ORGANIZATION_Corporation',
 'ORGANIZATION_Trust',
 'INCOME_AMT_1-9999',
 'INCOME_AMT_10000-24999',
 'INCOME_AMT_100000-499999',
 'INCOME_AMT_10M-50M',
 'INCOME_AMT_1M-5M',
 'INCOME_AMT_25000-99999',
 'INCOME_AMT_50M+',
 'INCOME_AMT_5M-10M']

In [71]:
# Split our preprocessed data into our features and target arrays
X = df.drop('IS_SUCCESSFUL',axis=1)
y = df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [72]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [73]:
inputs = len(X.columns)

## Compile, Train and Evaluate the Model

In [74]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=9, activation="relu", input_dim=inputs))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=9, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_15 (Dense)             (None, 9)                 369
_________________________________________________________________
dense_16 (Dense)             (None, 9)                 90
_________________________________________________________________
dense_17 (Dense)             (None, 1)                 10
=================================================================
Total params: 469
Trainable params: 469
Non-trainable params: 0
_________________________________________________________________

In [75]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [76]:
from keras.callbacks import Callback

mc = tf.keras.callbacks.ModelCheckpoint('weights{epoch:08d}.h5',save_weights_only=True, period=5)

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, callbacks=[mc], epochs=10)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.
Epoch 1/10
 25/804 [..............................] - ETA: 3s - loss: 0.7572 - accuracy: 0.4787

2022-03-23 22:54:32.061071: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:112] Plugin optimizer for device_type GPU is enabled.

804/804 [==============================] - 4s 4ms/step - loss: 0.6188 - accuracy: 0.6743
Epoch 2/10
804/804 [==============================] - 4s 4ms/step - loss: 0.5639 - accuracy: 0.7239
Epoch 3/10
804/804 [==============================] - 3s 4ms/step - loss: 0.5565 - accuracy: 0.7284
Epoch 4/10
804/804 [==============================] - 4s 4ms/step - loss: 0.5534 - accuracy: 0.7307
Epoch 5/10
804/804 [==============================] - 3s 4ms/step - loss: 0.5517 - accuracy: 0.7318
Epoch 6/10
804/804 [==============================] - 3s 4ms/step - loss: 0.5506 - accuracy: 0.7326
Epoch 7/10
804/804 [==============================] - 3s 4ms/step - loss: 0.5492 - accuracy: 0.7320
Epoch 8/10
804/804 [==============================] - 3s 4ms/step - loss: 0.5485 - accuracy: 0.7308
Epoch 9/10
804/804 [==============================] - 3s 4ms/step - loss: 0.5480 - accuracy: 0.7320
Epoch 10/10
804/804 [==============================] - 4s 4ms/step - loss: 0.5470 - accuracy: 0.7325

In [77]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2022-03-23 22:55:07.177586: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:112] Plugin optimizer for device_type GPU is enabled.

268/268 - 1s - loss: 0.5536 - accuracy: 0.7224
Loss: 0.5536326766014099, Accuracy: 0.7224489450454712

In [78]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

In [79]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=10,
        step=2), activation=activation, input_dim=inputs))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [80]:
# Import the kerastuner library
import kerastuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

/var/folders/08/k5qj0k9j1dbgppb_7vzc5rnm0000gn/T/ipykernel_6070/2980860635.py:2: DeprecationWarning: `import kerastuner` is deprecated, please use `import keras_tuner`.
  import kerastuner as kt

In [81]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 60 Complete [00h 01m 32s]
val_accuracy: 0.7267638444900513

Best val_accuracy So Far: 0.728396475315094
Total elapsed time: 08h 38m 37s
INFO:tensorflow:Oracle triggered exit

In [82]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2022-03-24 07:41:06.769180: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:112] Plugin optimizer for device_type GPU is enabled.

268/268 - 1s - loss: 0.5592 - accuracy: 0.7284
Loss: 0.5592359304428101, Accuracy: 0.728396475315094